*.suo
*.obj
*.tlog
*.xml
*.idb
*.pdb
*.log
*.exe
*.lastcodeanalysissucceeded
*.ilk
*.lastbuildstate
*.db
*.png
*.X
*.x
*.opendb
Effects.txt
JobParameterData.xlsx
モーション読み込みのヘッダーみたいなやつ.txt
*.wav
*.bmp
*.iobj
*.ipdb
*.efkproj
*.lnk
*.efk
*.efkmodel
*.txt
*.sdf
*.zip
*.jpg
*.lib
